nav {background:white;position:fixed;right:0;top:0; }
nav table { margin-left:initial; }
body { margin-right:15em; }
@media print { body { column-count:2; margin-right:initial; font-size:8pt; } nav { display:none } }
p, h1, h2, h3, h4, table { margin-left: 3rem; }
table { width: max-content; }
div.paranum { float:left; font-size: 64%; width: 2.8em; margin-left: -0.4em; margin-right: -3em; margin-top: 0.2em; }
div.sources { float:right; font-size: 80%; margin-left: 1em; text-align:right; }
@media (max-width:80em) { div.sources { width:min-content; } }
p { text-align: justify; hyphens: auto; margin-bottom: 0; }
div.paragraph { clear: both; }
.annotation { font-size:80%; margin-left:5em; margin-top:0; }
.diff-comment { font-size:80%; font-style:italic; }
.rule { font-style: italic }
.formula { margin-left: 5rem; text-align: left; display:table; width:max-content; max-width:calc(100% - 5rem); margin-top:0; }
a { color: inherit; }
ins.sources { text-decoration: none; white-space:nowrap; }
ins.paranum { background-color:initial }
del.paranum { background-color:initial }
